.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-header {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: #efefef;
}

.app-title {
  margin: 0;
}

.main {
  height: 100%;
}

.input-error-message {
  align-self: flex-start;
  margin: 0;
  color: red;
}


.simple-title {
  font-size: large;
  font-weight: 600;
  margin: 0px;
}

.simple-text {
  font-size: medium;
}

.separator {
  width: 100%;
  border: 1px solid #efefef;
  margin-top: 15px;
  margin-bottom: 15px;
}