.Login {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-actions-wrapper {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.login-error-message {
    text-align: center;
    justify-self: center;
    align-self: center;
    color: red;
    padding-top: 10px;
    margin: 0;
    max-width: fit-content;
}