.project-list {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px;
}

.new-project-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.new-project-card-content .create-project-button {
    margin-top: 8px;
}

.project-item {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #efefef;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #c7c7c7;
}

.project-item-header {
    display: flex;
    padding: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #efefef;
    box-shadow: 1px 1px 1px 1px #c7c7c7;
}

.project-item-header input {
    border: 0px;
    border-style: solid;
    border-color: #b1b1b1;
    border-bottom-width: 1px;

    padding: 5px;
    padding-top: 8px;
    padding-bottom: 2px;
    background-color: #efefef;
}

.project-item-header input:focus {
    outline: 0px;
    border: 0px;
    border-style: solid;
    border-color: black;
    border-bottom-width: 1px;
}

.project-item-header div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.project-item-body {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
}

.project-todo-list {
    display: flex;
    padding-left: 5px;
    flex-direction: column;
    align-items: flex-start;
}

.project-todo-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.project-todo-item input {
    border: 0px;
    border-style: solid;
    border-color: #b1b1b1;
    border-bottom-width: 1px;

    padding: 5px;
    padding-top: 8px;
    padding-bottom: 2px;
    background-color: white;
    box-shadow: 0px 0px 0px;
}

.project-todo-item input:focus {
    outline: 0px;
    border: 0px;
    border-style: solid;
    border-color: black;
    border-bottom-width: 1px;
}

.project-todo-item span {
    line-break: anywhere;
    margin: 0;
    padding-right: 5px;
    color: #8786c9;
}

.project-todo-item.done span  {
    color: black;
}

.project-todo-item .action-icon {
    display: none;
}

.project-todo-item:hover .action-icon {
    display: flex;
}


.add-todo-input {
    width: 100%;
    padding-right: 20px;
}

.project-item-add-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}