.Register {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Register form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Register .form-actions-wrapper {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}